- if user
  .html-code
    / %a.popup-modal{:href => "#test-modal"} Open modal
    .mfp-hide.white-popup-block{id: "test-modal-#{listing.id}"}
      %table.table
        %thead
          %tr
            %th Username
            %th Rating
            %th Description
        %tbody
          - user.each do |x|
            %tr
              %td 
                = x[0]
              %td 
                = x[1]
              %td
                = rate_text(x[1].to_i)
      %p
        %a.popup-modal-dismiss{:href => "#"} Dismiss
