.overall_average_rate {
	background-image: url(image_path('big-star.png'));
	width:81px;
	height:81px;
	margin-top:10px;
}
.disable-star {
	pointer-events: none;
	width: 120px !important;
	float: left;
}
.no_of_reviews {
	font-weight: normal;
	font-size: 14px;
}

.white-popup-block {
	background: #FFF;
	padding: 20px 30px;
	text-align: left;
	max-width: 650px;
	margin: 40px auto;
	position: relative;
}
.home-fluid-thumbnail-grid-rating {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #e8e8e8;
	height: 26px;
	padding: 5px;
	position: relative;
}
.home-fluid-thumbnail-list-rating {
	border-bottom-right-radius: 5px;
	margin-left: 200px;
	top: 50px;
	height: 21px;
	position: absolute;
}